@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  font-family: poppins;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

section {
  padding: 70px 0;
}

:root {

  // root
  --black: #000;
  --white: #fff;
  --l-grey: #F6F6F6;
  --grey: #C9C9C9;
  --d-grey: #787A8D;
  --blue: #2F327D;
  --l-blue: #809FB8;
  --sky-blue: #F5F7FA;
  --red: #D30000;
  --orange: #FFB800;
  --pink: #FFC7E4;
  --l-pink: #fff3f9;
  --d-pink: #FF426F;
  --green: #008E17;
  --d-green: #008C45;
  --l-green: #edffef;
  --red-linear: linear-gradient(90deg, #f55454, #f24f4a, #ee4a40, #ea4636, #e5422b);

  //FONTS VAR
  --fs-8: 0.5rem;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-25: 1.5625rem;
  --fs-30: 1.875rem;
  --fs-33: 2.0625rem;
  --fs-35: 2.188rem;
  --fs-45: 2.8125rem;
  --fs-50: 3.125rem;
  --fs-55: 3.438rem;
}

.white-text {
  color: var(--white) !important;
  fill: var(--white) !important;
}

.black-text {
  color: var(--black) !important;
  fill: var(--black) !important;
}

.transition {
  transition: all 0.3s ease-in-out !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: unset;
}

.error-border {
  border: 1px solid var(--red) !important;
}

.tooltip1,
.tooltip2 {
  position: relative;
  display: inline-block;
}

.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 168px;
  background-color: var(--white);
  color: var(--d-pink);
  filter: drop-shadow(0px 0px 14px rgba(255, 0, 0, 0.10));
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: var(--fs-12);
  bottom: -6px;
  left: 90px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 37%;
  transform: rotate(90deg);
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--white) transparent transparent transparent;
}

.tooltip1:hover .tooltiptext,
.tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip2 .tooltiptext {
  visibility: hidden;
  width: 195px;
  background-color: var(--white);
  color: var(--d-pink);
  filter: drop-shadow(0px 0px 14px rgba(255, 0, 0, 0.1));
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: var(--fs-12);
  left: -95px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  top: -40px;
}



.tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--white) transparent transparent transparent;
  right: 26px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .tooltip2 .tooltiptext {
    left: -53px;
  }

  .tooltip2 .tooltiptext::after {
    right: 68px;
  }
}