.my-account {
  background-color: var(--white);

  h2 {
    font-size: var(--fs-18);
  }

  .form-box {
    label {
      color: var(--d-grey);
      font-size: var(--fs-15);
    }

    input,
    textarea {
      border: 2px solid var(--grey);
      font-size: var(--fs-15);
      transition: all 0.3s ease;

      &::placeholder {
        color: var(--grey);
      }

      &:focus {
        border: 2px solid var(--red);
      }
    }

    .mobile-input {
      .form-control {
        width: 100% !important;
        padding: 8px !important;
        padding-left: 48px !important;
      }

      .country-list {
        top: 33px;
        width: 230px !important;
      }
    }

    .mobile-error {
      input {
        border-color: #dc3545 !important;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 42px;

    }
  }

  .profile-image-box {
    p {
      color: var(--d-pink);
    }

    .profile-img {
      img {
        object-fit: contain;
      }

    }

    .images-upload {
      border: 2px solid var(--grey);
      font-size: var(--fs-15);
      color: var(--d-pink);
      margin-top: 10px;
    }



  }

  .save-btn {
    background: var(--d-green);
  }
}